<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django level two</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <h1>Hello this is Django level two</h1>
    <h2>Here are your access records</h2>

    <div class="djangotwo">
        {% if access_record %}
        <table>
            <thead>
                <th>Site name</th>
                <th>Date accessed</th>
            </thead>
        
        {% for acc in access_record %}
        <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        
        <p>NO ACCESS RECORDS FOUND!</p>
        
        {% endif %}


               
    </div>
</body>
</html>